 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

h1
{
	font-family: Ariel;
}


#map
{
	height: 495px;
	width: 98%;
	border-radius: 16px;
}

#map-content {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 6px;
}

#content-body
{
	background: #000046;
	background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
	background: linear-gradient(to right, #1CB5E0, #000046);
}